body {
  background-color:#FFCBC4;
  color:#000000;
  font-family: Verdana, Grotesque, Vijaya;
  margin: 8% 18%;
}

.exp-header{
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #CFCFC4;
  border-bottom: 1px solid #CFCFC4;
  background-color: rgba(255,255,255, 0.30)
    
}

h1{
  color: black;
  text-shadow: 2px 2px 4px #ffffff;
}

h3{
  color: black;
  text-shadow: 2px 2px 4px #ffffff;
  
}

h6{
  font-style: italic;
  
}

div{
  background-image:
    url('resume background image.png')
}
